// Body
body {
  width: 100%;
  background-size: cover;
  background-image: url("../../assets/img/background/3.jpg");
  color: rgba(224, 224, 224, 0.774);
  position: relative;
  * {
    position: relative;
    z-index: 2;
  }
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 34, 34, 0.753);
}
// END body

// Header
header {
  background-color: orange;
  margin-bottom: 100px;
}

#modal {
  width: 50px;
  height: 50px;
  background-color: white;
}
// END header

// Main section
h1,
h2,
h3,
h4 {
  text-align: center;
}

// Jumbo section

.delivery {
  width: 80%;
}

.title-box {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.card-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;

  img {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.card-body {
  padding-bottom: 10px;
  text-align: center;
  border: 1px solid black;
}
// END Jumbo section

// Cards section
.image-big {
  padding-top: 100px;
  padding-bottom: 50px;

  h2 {
    padding-bottom: 60px;
  }

  h3 {
    padding-bottom: 10px;
  }
}

.text {
  width: 50%;
  margin: 0 auto;
}

.small-card {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;

  img {
    padding-bottom: 15px;
  }

  h4 {
    padding-bottom: 5px;
  }
}
// END Cards section
// END Main section

// Footer

footer {
  padding-bottom: 40px;
}

.socials-container {
  width: 100%;
  padding-bottom: 80px;

  li {
    width: 30%;
  }

  img {
    width: 30%;
  }

  ul {
    text-align: center;
  }
}

.socials-paragraph {
  padding-bottom: 30px;
  margin: 0 auto;

  h3 {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
}

.socials-list {
  width: 100%;
}

.column-sx,
.column-dx {
  margin: 0 auto;

  h5 {
    font-size: 19px;
    padding-bottom: 10px;
  }
}

.col-info li {
  line-height: 25px;
}

.copyright {
  padding-top: 40px;
  text-align: center;
}
// END Footer
