// Body
body {
  background-size: cover;
  background-image: url("../../assets/img/background/food-background.jpg");
  color: rgba(224, 224, 224, 0.774);
  position: relative;
  * {
    position: relative;
    z-index: 2;
  }
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 34, 34, 0.753);
  z-index: 1;
}
// END body

// Header
header {
  background-color: orange;
  height: 100px;
}
// END header

// Main section
h1,
h2,
h3,
h4 {
  text-align: center;
}

// Jumbo section

.title-box {
  width: 100%;
  padding-bottom: 50px;
  padding-left: 20px;
}

.search-bar {
  width: 100%;
  display: flex;
  padding-left: 97px;
  justify-content: center;
  padding-top: 30px;
}

input {
  margin-left: 20px;
  border-radius: 30px;
  border: 1px solid grey;
  padding-left: 90px;
  padding-right: 235px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.go-button {
  width: 20%;
  height: 45px;
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
  right: 125px;
  border: none;
  background-color: orange;
  position: relative;
}
// END Jumbo section

// Cards section
.image-big {
  padding-top: 100px;

  h2 {
    padding-bottom: 60px;
  }

  h3 {
    padding-bottom: 10px;
  }
}

.text {
  width: 50%;
  margin: 0 auto;
}

.small-card {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;

  img {
    padding-bottom: 15px;
  }

  h4 {
    padding-bottom: 5px;
  }
}
// END Cards section
// END Main section

// Footer
.socials-container img {
  width: 10%;
}

// END Footer
