/***************
TABLET LAYOUT
***************/

@media (min-width: 480px) {
  .cart {
    bottom: auto;
    height: calc(100vh - 80px);
    right: -350px;
    left: auto;
    max-width: 350px;
    height: 100vh;
    border-radius: 0;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: auto;
    transition: right 0.5s ease-in-out;
    top: 80px;
    border-top-left-radius: 20px;
  }

  .cart-active {
    right: 0;
  }

  .card-container {
    margin-left: 40px;
    margin-right: 40px;
  }

  .carousel-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card-body:hover {
    margin: -10px;
  }

  .socials-container li {
    width: 25%;
  }
}

/***************
DESKTOP LAYOUT
***************/
@media (min-width: 768px) {
  .cart {
    width: 700px;
    right: -400px;
    border-top-left-radius: 20px;
  }

  .cart-active {
    right: 0;
  }

  .card-container {
    max-width: 100%;
    margin-left: 90px;
    margin-right: 90px;
    position: static;
  }

  .carousel-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .prev,
  .next {
    display: none;
  }

  .socials-container li {
    width: 15%;
  }

  .restaurant-header {
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
  }

  .restaurant-info {
    width: 50%;
    padding-left: 20px;
  }

  .restaurant-banner {
    width: 50%;
    max-width: 600px;
  }

  .title {
    font-size: 3em;
  }

  .description {
    font-size: 1.5em;
  }

  .type {
    font-size: 1.5em;
  }
}
