/***************
TABLET LAYOUT
***************/

@media (min-width: 480px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .socials-container li {
    width: 25%;
  }
}

/***************
DESKTOP LAYOUT
***************/
@media (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .socials-container li {
    width: 15%;
  }
}
