a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

li {
  list-style: none;
}

.info-container a {
  color: rgba(224, 224, 224, 0.774);
  text-decoration: none;

  &:hover {
    color: rgba(255, 255, 255, 0.89);
  }
}

.hidden {
  display: none;
}

.btn-container button {
  border-radius: 40px;

  &:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.capitalize {
  text-transform: capitalize;
}
